<mat-card class="login-card">
  <img ngSrc="logo.png" width="140.8" height="69.8" alt="Logo" priority>
  <mat-card-header>
    <mat-card-title>Acesso ao sistema</mat-card-title>
  </mat-card-header>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="username" type="email" placeholder="seu@email.com" required autocomplete="username">
        @if (loginForm.controls.username.hasError('required') && loginForm.get('username')?.touched) {
          <mat-error>O email é obrigatório.</mat-error>
        }
        @if (loginForm.controls.username.hasError('email') && loginForm.get('username')?.touched) {
          <mat-error>Por favor, insira um email válido.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" type="password" required autocomplete="current-password">
        @if (loginForm.controls.password.hasError('required') && loginForm.get('password')?.touched) {
          <mat-error>A senha é obrigatória.</mat-error>
        }
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid || isLoading()">
        @if (isLoading()) {
          <mat-spinner [diameter]="24"></mat-spinner>
        } @else {
          <span>Entrar</span>
        }
      </button>
    </mat-card-actions>
  </form>
</mat-card>
