# Enforce LF line endings for source code
* text=auto
.gitattributes text eol=lf

*.ts text eol=lf
*.html text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.json text eol=lf
*.js text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.ico binary
