/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// 1. Definição do Tema Claro (Light Mode)
// Paletas: Azure (primária) e Blue (terciária/accent)
$light-theme: (
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
    theme-type: light,
  ),
  typography: Roboto,
  density: 0
);

// 2. Definição do Tema Escuro (Dark Mode)
// Paletas: Cyan (primária) e Orange (terciária/accent)
$dark-theme: (
  color: (
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
    theme-type: dark,
  ),
  typography: Roboto,
  density: 0
);

// 3. Aplicação dos temas
html {
  // Aplica o tema claro por padrão
  color-scheme: light;
  @include mat.theme($light-theme);

  // Quando o body tiver a classe .dark-theme, aplica o tema escuro
  &.dark-theme {
    color-scheme: dark;
    @include mat.theme($dark-theme);
  }
}

/* Definição de Variáveis Globais (CSS Custom Properties) */
:root {
  --font-family-sans: Roboto, "Helvetica Neue";

  /* Light Theme (Default) */
  --color-primary: #007bff;
  --color-background: #f8f9fa;
  --color-surface: #ffffff;
  --color-text: #212529;
  --color-text-muted: #6c757d;
  --color-border: #dee2e6;
  --color-error: #dc3545;

  /* Cores de Status */
  --status-created: #6c757d; /* Cinza */
  --status-proposal: #ffc107; /* Amarelo */
  --status-accepted: #28a745; /* Verde */
  --status-refused: #343a40; /* Cinza Escuro */
  --status-executing: #17a2b8; /* Azul Ciano */
  --status-pending: #fd7e14; /* Laranja */
  --status-invoiced: #007bff; /* Azul Primário */
  --status-finished: #198754; /* Verde Escuro (Diferente de Accepted) */
  --status-default: #6c757d; /* Cinza */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 0.5rem;

  // Estilos base para o corpo da aplicação, usando os tokens do tema
  body {
    margin: 0;
    font-family: var(--font-family-sans), sans-serif;
    background: var(--mat-sys-background);
    color: var(--mat-sys-on-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //transition: background-color 0.3s ease, color 0.3s ease;
  }
}
